 {% extends "deathcore/base.html" %}

 <title>{% block title %} Portfolio {% endblock %}</title>
 {% load static %}
 {% block background %}{% static 'deathcore/img/portfolio-bg.jpg' %}{% endblock %}
 {% block headers %}   
 <div class="site-heading">
     <h1>Portafolio</h1>
     <span class="subheading">Curriculum Vitae</span>
   </div>
 {% endblock %}
{% block content %} 
{% comment %} {{projects}} {% endcomment %}
 
{% for project in projects %}

<!-- Contenido Principal -->
<div class="container">
  
    <!-- Proyecto -->
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{{project.image.url}}" alt="Imagenes del Proyecto">
        </div>
      <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{project.title}}</h2>   
        <p>{{project.description}}</p>
        {% if project.link %} 
        <p><a href="{{project.link}}"target="_blank">Mas información</a></p>
        {% endif %}
        </div>
    </div>
    </div>
{% endfor %} 
{% endblock %}
